<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation tempDirectory="D:\ClientSites\myhobby.page\tmp" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="D:\ClientSites\myhobby.page\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="D:\ClientSites\myhobby.page\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="D:\ClientSites\myhobby.page\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="D:\ClientSites\myhobby.page\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="D:\ClientSites\myhobby.page\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="D:\ClientSites\myhobby.page\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="D:\ClientSites\myhobby.page\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="D:\ClientSites\myhobby.page\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="D:\ClientSites\myhobby.page\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="D:\ClientSites\myhobby.page\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="D:\ClientSites\myhobby.page\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="D:\ClientSites\myhobby.page\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="D:\ClientSites\myhobby.page\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="D:\ClientSites\myhobby.page\error_docs\maintenance.html" />
    </httpErrors>

    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>

    <staticContent>
      <remove fileExtension=".wasm" />
      <remove fileExtension=".dat" />
      <remove fileExtension=".dll" />
      <remove fileExtension=".pdb" />
      <remove fileExtension=".json" />
      <remove fileExtension=".mjs" />
      <remove fileExtension=".br" />
      <remove fileExtension=".gz" />

      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".pdb" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".mjs" mimeType="text/javascript" />
      <mimeMap fileExtension=".br" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".gz" mimeType="application/octet-stream" />
    </staticContent>

    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".wasm" allowed="true" />
          <add fileExtension=".dat" allowed="true" />
          <add fileExtension=".dll" allowed="true" />
          <add fileExtension=".pdb" allowed="true" />
          <add fileExtension=".json" allowed="true" />
          <add fileExtension=".mjs" allowed="true" />
          <add fileExtension=".br" allowed="true" />
          <add fileExtension=".gz" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>
<!--application/wasm .wasm
application/octet-stream .dat
application/octet-stream .dll
application/octet-stream .pdb
application/json .json
text/javascript .mjs-->
